.header-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  color: aliceblue;
  padding: 2px 15px;
}

.dp-img {
  height: 35px;
  border-radius: 50%;
}
.nav-btn {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}
